.carousel {
    background-image: url(../../image/image\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-brand {
        @extend .nav-link;

    }

    .nav-link {
        color: $color-1 ;
        font-size: $fs-3;
    }

    .carousel-item_product {
        h1 {
            font: {
                size: $fs-4;
                weight: $fw-1;

            }

            line-height: $lh-2;
        }
    }

    .icon-one {

        @include position;

    }
}