.carousel {
    background-image: url(../../image/image\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-brand {
        @extend .nav-link;
        font-weight: $fs-3 ;
        border-bottom: 1px solid $color-1;
    }

    .nav-link {
        color: $color-1 ;
        font-size: $fs-3 ;
    }

    .carousel-item_product {
        h1 {
            font: {
                size: $fs-4;
                weight: $fw-1;

            }

            line-height: $lh-2;
        }
    }

    .icon {
        .icon-one {

            @include position(66.13px, 45.71px, 18px, 121.13px);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)),
                linear-gradient(0deg, rgba(152, 152, 152, 0), rgba(152, 152, 152, 0));

            border: 1px solid #0000003D;



        }

        .icon-two {
            @extend .icon-one;
            @include position(66.13px, 45.71px, 1367.14px, 121.13px)
        }
    }


}