//color
$color-1: black;
$color-2: #F6F6F6;
$color-3: #FFFFFF;
$color-4: #F8B653;
//font
$fs-1: 30px;
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 40px;
//font-weight
$fw-1: 300;
$fw-2: 200;
//font-style
$fts-1: normal;
//font-fam
$ff-1: 'Inter';
//line-height
$lh-1: 19px;
$lh-2: 48.41px;
//padding
$padding: 13px 35px;
//link
$img : url(../../image/image\ 6.png);
//math
$tt : 2px;
 //width
$w-1: 66.13px;
//heiht
$h-1:45.71px;