//color
$color-1: black;
$color-2: #F6F6F6;
$color-3: #FFFFFF;
$color-4: #F8B653;
$color-5: #F8F8F8;
$color-6: #1ED90E;
$color-7: #FC0303;
$color-8: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
//font
$fs-1: 30px;
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 40px;
$fs-5: 24px;
$fs-6: 30px;
//font-weight
$fw-1: 300;
$fw-2: 200;
$fw-3: 900;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
//font-style
$fts-1: normal;
//font-fam
$ff-1: 'Inter';
//line-height
$lh-1: 19px;
$lh-2: 48.41px;
$lh-3: 36px;
$lh-4: 29px;
$lh-5:24px;
//padding
$padding: 13px 35px;
//link
$img : url(../../image/image\ 6.png);
//math
$tt : 2px;
//width
$w-1: 66.13px;
$w-2: 334px;
$w-3: 220px;
//heiht
$h-1: 45.71px;
$h-2: 70%;
$h-3: 355px;
$h-4: 156px;
//margin
$m-1: 57px;
$m-2: 109px;